.charactersAvatar{
    display: flex;
    padding: 3% 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #535360;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;

    .pAvatarName{
        font-size: .7em;
        color: rgba(255,255,255,0.8);
    }

    .floatBio{
        height: 100%;
        width: 100%;
        border: solid 1px black;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1;
        padding: 3% 0;

        & div{
            text-align: center;
            font-weight: bold;
            padding: 0;
            margin: 0;
        }

        & p{
            color: black;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
}

.charactersAvatar:hover{
    box-shadow: 0px 0px 10px 5px rgba(250, 253, 110, 0.25);
    border: solid 1px rgba(255, 255, 0, .3);
}

.cardAvatar {
    width: 100%;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;
    // width: 100px;
    // height: 109px;

    & img{
        width: 100%;
        height: 100%;
    }
}



@media (max-width: 600px){
    .charactersAvatar{
        display: flex;
        padding: 5% 0%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #535360;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.1);
        position: relative;
        cursor: pointer;
        height: 100%;
        box-sizing: border-box;
    
        .pAvatarName{
            font-size: .7em;
            color: rgba(255,255,255,0.8);
        }
    
        .floatBio{
            height: 100%;
            width: 100%;
            border: solid 1px black;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10%;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: 1;
            padding: 3%;
            overflow: scroll;
    
            & div{
                text-align: center;
                font-weight: bold;
                padding: 0;
                margin: 0;
            }
    
            & p{
                color: black;
                width: 100%;
                padding: 0;
                margin: 0;
                font-size: .5rem;
            }
        }
    }
    
    .charactersAvatar:hover{
        box-shadow: 0px 0px 10px 5px rgba(250, 253, 110, 0.25);
        border: solid 1px rgba(255, 255, 0, .3);
    }
    
    .cardAvatar {
        width: 100%;
        height: 100%;
        padding: 2%;
        box-sizing: border-box;
        // width: 100px;
        // height: 109px;
    
        & img{
            width: 100%;
            height: 100%;
        }
    }
}