@keyframes clockIconAnim {
    0%{
        transform: rotate(0deg);
    }
    5%{
        transform: rotate(18deg);
    }
    10%{
        transform: rotate(36deg);
    }
    15%{
        transform: rotate(54deg);
    }
    20%{
        transform: rotate(72deg);
    }
    25%{
        transform: rotate(90deg);
    }
    30%{
        transform: rotate(108deg);
    }
    35%{
        transform: rotate(126deg);
    }
    40%{
        transform: rotate(144deg);
    }
    45%{
        transform: rotate(162deg);
    }
    50%{
        transform: rotate(180deg);
    }
    55%{
        transform: rotate(198deg);
    }
    60%{
        transform: rotate(216deg);
    }
    65%{
        transform: rotate(234deg);
    }
    70%{
        transform: rotate(252deg);
    }
    75%{
        transform: rotate(270deg);
    }
    80%{
        transform: rotate(288deg);
    }
    85%{
        transform: rotate(306deg);
    }
    90%{
        transform: rotate(324deg);
    }
    95%{
        transform: rotate(342deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.SpinnerClockMainContainer{
    position: absolute;
    width: 95%;
    height: 95%;
    background-color: rgba($color: white, $alpha: .95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.SpinnerClockMainContainerOff{
    display: none;
}

.clockIcon{
    // width: 30%;
    // height: 30%;
    padding: 5%;
    // border: solid 1px green;
    
}

.iconSVG{
    color: blue;
    animation: clockIconAnim 1s infinite;
}